@charset "utf-8";
/* font */
/* @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css); */
/*
@font-face {
  font-family: 'NotoSansJP-DL';
  src: url(font/NotoSansJP-DL.otf) format("opentype");
}
*/
@font-face {
  font-family: 'NotoSansJP-M';
  src: url(font/NotoSansMCustam.otf) format("opentype"),
  url(font/NotoSansMCustam.woff) format("woff");
}

