@charset "UTF-8";
/* Author: DWP shoheiworks Version: 1.0 : Portfolio */

/*--------------------------------------------------
Top Comment
-------------------------------------------------- */

/* Second Comment
-------------------------------------------------- */

/* Comment */

/*--------------------------------------------------
Reset
-------------------------------------------------- */
@import '_default.scss';

/*--------------------------------------------------
Font
-------------------------------------------------- */
@import '_font.scss';
h1, h2, h3 {letter-spacing: 0.02em}


/*--------------------------------------------------
Link
-------------------------------------------------- */
a, a:hover, a:visited {
	color: #888888;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	color: #579999;
}
/*--------------------------------------------------
Color
-------------------------------------------------- */
p {color: #888888;}
.colO {color: #ff7820;}
.colB {color: #1c83de;}
.colP {color: #f96480;}

/*--------------------------------------------------
JavaScript
-------------------------------------------------- */
#openBox, #startBox, #compBox {
	display: none;
}

/*--------------------------------------------------
Style
-------------------------------------------------- */
html {background-color: #fcfaf9;}
body {
	margin: 0;
	padding: 0;
	font-family: 'NotoSansJP-M', serif;
}
footer {
	position: absolute;
	bottom: 30px;
	right: 48px;
	color: #555555;
	font-size: 10px;
}

#baseBox {
	width: 1024px;
	height: 920px;
	margin: 0 auto;
	padding: 240px 0 0 0;
	background-color: #fcfaf9;
	position: relative;
	box-sizing: border-box;
	z-index: 1;
}
/*--------------------------------------------------
Open
-------------------------------------------------- */
#openBox {
	width: 516px;
	height: 300px;
	margin: 0 auto 0;
	background:	#FFFFFF;
	box-shadow: 1px 1px 2px #bbbbbb;
	box-sizing: border-box;
}
#openBox h1, #openBox h2 {
	text-align: center;
	font-family: 'NotoSansJP-M';
	font-weight: normal;
	margin: 0;
}
#openBox h1 {
	font-size: 37px ;	
	color: #898989;
	margin: 0;
	padding: 104px 0 0 0;
}
#openBox h2 {
	font-size: 20px ;	
	color: #666666;
}

/*--------------------------------------------------
Comp
-------------------------------------------------- */
#compBox {
	width: 100%;
	height : 100%;
	opacity: 1;
}
#compBox #nameBox {
	position: absolute;
	top: 26px;
	right: 50px;
	color: #666666;
	letter-spacing: 0.01em;
	font-family: 'NotoSansJP-M';
	font-size: 14px;
}
#compBox #nameBox p {
	margin: 0 0 4px 0;
}
#compBox #nameBox span {
	font-size: 10px;
	margin: -19px 0 0 100px;
	display: block;
}
#compBox aside {
	width: 270px;
	height: 76px;
	/*background-color: #FFFFFF;*/
	margin: 0;
	padding: 12px 0 12px 18px;
	position: absolute;
	top: 80px;
	left: 700px;
	color: #666666;
	font-size: 18px;
	font-family: 'NotoSansJP-M';
	letter-spacing: 0.02em;
	line-height: 1.3em;
	/*box-shadow: 2px 2px 3px #bbbbbb;*/
	box-sizing: border-box;
	text-align: right;
}
#compBox #worksBox {
	width: 1024px;
	height: 440px;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 22px;
	position: absolute;
	top: 234px;
	left: 0px;
}
#compBox #worksBox h1, #compBox #otherBox h1 {
	font-size: 36px;
	color: #666666;
	font-family: 'NotoSansJP-M';
	margin: 0;
}
#compBox #worksBox h3 {
	font-size:30px;
	color: #7b7b79;
	font-family: 'Myriad Pro';
}
#compBox #worksBox #web, #compBox #worksBox #android {
	width: 440px;
	height: 440px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 1px 2px 2px #bbbbbb;
	margin:0 12px 0 28px;
	float: left;
	position: relative;
}
#compBox #worksBox #web h1, #compBox #worksBox #android h1{
	padding: 0;
	margin: 12px 0 0 12px;
	letter-spacing: 0;
}
/* web */
#compBox #worksBox #web ul {
	margin: 16px 0 4px 24px;;
	padding: 0;
}
#compBox #worksBox #web li a {
	letter-spacing: 0.03em;
	font-family: 'NotoSansJP-M';
	color: #888888;
}
#compBox #worksBox #web li a:hover {
	color: #579999;
}
#compBox #worksBox #web img {
	width: 440px;
	height: 262px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #cccccc;
}
/* Android */
#compBox #worksBox #android img {
	overflow: hidden;
}
#compBox #worksBox #android .thImg {
	width: 72px;
	height: 72px;
	border: none;
	position: absolute;
	top: 80px;
	left: 44px;
}
#compBox #worksBox #android ul {
	position: absolute;
	top: 84px;
	left: 140px;
}
#compBox #worksBox #android li {
	font-size: 18px;
	font-family: 'NotoSansJP-M';
	color: #888888;
	cursor: pointer;
}
#compBox #worksBox #android a {
	font-size: 14px;
	font-family: 'NotoSansJP-M';
		color: #888888;
		margin: 0 0 0 10px; 
}
#compBox #worksBox #android .appImg01-1,
#compBox #worksBox #android .appImg01-2,
#compBox #worksBox #android .appImg02-1,
#compBox #worksBox #android .appImg02-2 {
	width: 162px;
	height: 270px;
	border: 1px solid #cccccc;
}
#compBox #worksBox #android .appImg01-1 ,
#compBox #worksBox #android .appImg01-2 {
	position: absolute;
	top: 169px;
	left: 44px; 
}
#compBox #worksBox #android .appImg02-1,
#compBox #worksBox #android .appImg02-2 {
	position: absolute;
	top: 170px;
	left: 234px; 
}
/* other */
#compBox #otherBox {
	width: 924px;
	height: 120px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 3px #bbbbbb;
	margin:0 12px 0 48px;
	padding: 0 0 0 22px;
	position: absolute;
	top: 720px;
	left: 0px;
}
#compBox #otherBox h1 {
	margin: 0 0 8px 0;
}
#compBox #otherBox li a {
	letter-spacing: 0.03em;
	font-family: 'NotoSansJP-M';
	color: #888888;
}

/*--------------------------------------------------
OverView
-------------------------------------------------- */
.close {
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	padding: 5px 0 0 0;
	box-sizing: border-box;
	border: 1px solid #999999;
	border-radius: 8px;
	display: block;
	float: right;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 0px 0px 1px #222222;
}

/* overLayer
-------------------------------------------------- */

/* worksApp
-------------------------------------------------- */
#worksApp01, #worksApp02 {
	width: 900px;
	margin: 0 0 60px 0;
	box-sizing: border-box;
	background: #eeeeee;
	padding: 16px 20px;
	z-index: 100;
	border-radius:4px;
	box-shadow: 1px 2px 2px #999999;
	border: 1px solid #aaaaaa;
	display: none;
	position: absolute;
	top: 180px;
	left: 40px;
}
#worksApp01 img, #worksApp02 img {
	margin: 0 0 6px 0;
}
/* Bunner
-------------------------------------------------- */
#worksBunner {
	width: 900px;
	box-sizing: border-box;
	background: #eeeeee;
	padding: 16px 20px;
	position: absolute;
	bottom: 152px;
	left: 40px;
	z-index: 100;
	border-radius:4px;
	box-shadow: 1px 2px 2px #999999;
	border: 1px solid #aaaaaa;
	display: none;
}
#worksBunner img {
	margin: 4px 8px 4px 0;
	border: 1px solid #666666;
}

#overBunner { cursor: pointer; }

/* Second Comment
-------------------------------------------------- */
.fl {float: left;}
.fr {float: right;}
.mb7 {
	margin: 0 0 7px 0;
}