/* Author: DWP shoheiworks Version: 1.0 : Portfolio */
/*--------------------------------------------------
Top Comment
-------------------------------------------------- */
/* Second Comment
--------------------------------------------------

/* Comment */
/*--------------------------------------------------
Reset
-------------------------------------------------- */
/* defaule */
/* line 3, _default.scss */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 4, _default.scss */
ul li {
  margin: 0;
  padding: 0;
}

/* line 5, _default.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, _default.scss */
img {
  border: 0;
  margin: 0;
  padding: 0;
  float: none;
}

/* line 7, _default.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 8, _default.scss */
ul, ol, li {
  list-style: none;
}

/* line 9, _default.scss */
caption, th {
  text-align: left;
}

/* line 10, _default.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

/* line 11, _default.scss */
q:before, q:after {
  content: '';
}

/* line 12, _default.scss */
abbr, acronym {
  border: 0;
}

/* line 13, _default.scss */
p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem;
  font-weight: normal;
}

/* line 14, _default.scss */
button {
  cursor: pointer;
}

/* line 15, _default.scss */
h1, h2, h3, h4, h5, h6, img {
  margin: 0;
  padding: 0;
}

/* line 16, _default.scss */
html {
  background: #FFF;
}

/* line 17, _default.scss */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------
Font
-------------------------------------------------- */
/* font */
/* @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css); */
/*
@font-face {
  font-family: 'NotoSansJP-DL';
  src: url(font/NotoSansJP-DL.otf) format("opentype");
}
*/
@font-face {
  font-family: 'NotoSansJP-M';
  src: url(font/NotoSansMCustam.otf) format("opentype"), url(font/NotoSansMCustam.woff) format("woff");
}

/* line 22, style.scss */
h1, h2, h3 {
  letter-spacing: 0.02em;
}

/*--------------------------------------------------
Link
-------------------------------------------------- */
/* line 28, style.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: #666666;
}

/*--------------------------------------------------
Color
-------------------------------------------------- */
/* line 33, style.scss */
.colO {
  color: #ff7820;
}

/* line 34, style.scss */
.colB {
  color: #1c83de;
}

/* line 35, style.scss */
.colP {
  color: #f96480;
}

/*--------------------------------------------------
JavaScript
-------------------------------------------------- */
/* line 40, style.scss */
#openBox, #startBox, #compBox {
  display: none;
}

/*--------------------------------------------------
Style
-------------------------------------------------- */
/* line 47, style.scss */
html {
  background-color: #fcfaf9;
}

/* line 48, style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'NotoSansJP-M', serif;
}

/* line 53, style.scss */
footer {
  position: absolute;
  bottom: 30px;
  right: 20px;
  font: #dddddd;
  font-size: 10px;
}

/* line 61, style.scss */
#baseBox {
  width: 1024px;
  height: 920px;
  margin: 0 auto;
  padding: 240px 0 0 0;
  background-color: #fcfaf9;
  position: relative;
  box-sizing: border-box;
  /*z-index: 1;*/
}

/*--------------------------------------------------
Open
-------------------------------------------------- */
/* line 74, style.scss */
#openBox {
  width: 516px;
  height: 300px;
  margin: 0 auto 0;
  background: #FFFFFF;
  box-shadow: 1px 1px 2px #bbbbbb;
  box-sizing: border-box;
}

/* line 82, style.scss */
#openBox h1, #openBox h2 {
  text-align: center;
  font-family: 'NotoSansJP-M';
  font-weight: normal;
  margin: 0;
}

/* line 88, style.scss */
#openBox h1 {
  font-size: 37px;
  color: #898989;
  margin: 0;
  padding: 104px 0 0 0;
}

/* line 94, style.scss */
#openBox h2 {
  font-size: 20px;
  color: #666666;
}

/*--------------------------------------------------
Comp
-------------------------------------------------- */
/* line 102, style.scss */
#compBox #nameBox {
  position: absolute;
  top: 26px;
  right: 50px;
  color: #666666;
  letter-spacing: 0.01em;
  font-family: 'NotoSansJP-M';
  font-size: 14px;
}

/* line 111, style.scss */
#compBox #nameBox p {
  margin: 0 0 4px 0;
}

/* line 114, style.scss */
#compBox #nameBox span {
  font-size: 10px;
  margin: -19px 0 0 100px;
  display: block;
}

/* line 119, style.scss */
#compBox aside {
  width: 270px;
  height: 76px;
  /*background-color: #FFFFFF;*/
  margin: 0;
  padding: 12px 0 12px 18px;
  position: absolute;
  top: 80px;
  left: 700px;
  color: #666666;
  font-size: 18px;
  font-family: 'NotoSansJP-M';
  letter-spacing: 0.02em;
  line-height: 1.3em;
  /*box-shadow: 2px 2px 3px #bbbbbb;*/
  box-sizing: border-box;
  text-align: right;
}

/* line 137, style.scss */
#compBox #worksBox {
  width: 1024px;
  height: 440px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 0 22px;
  position: absolute;
  top: 234px;
  left: 0px;
}

/* line 147, style.scss */
#compBox #worksBox h1, #compBox #otherBox h1 {
  font-size: 36px;
  color: #666666;
  font-family: 'NotoSansJP-M';
  margin: 0;
}

/* line 153, style.scss */
#compBox #worksBox h3 {
  font-size: 30px;
  color: #7b7b79;
  font-family: 'Myriad Pro';
}

/* line 158, style.scss */
#compBox #worksBox #web, #compBox #worksBox #android {
  width: 440px;
  height: 440px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 2px #bbbbbb;
  margin: 0 12px 0 28px;
  float: left;
  position: relative;
}

/* line 168, style.scss */
#compBox #worksBox #web h1, #compBox #worksBox #android h1 {
  padding: 0;
  margin: 12px 0 0 12px;
  letter-spacing: 0;
}

/* web */
/* line 174, style.scss */
#compBox #worksBox #web ul {
  margin: 16px 0 4px 24px;
  padding: 0;
}

/* line 178, style.scss */
#compBox #worksBox #web li a {
  letter-spacing: 0.03em;
  font-family: 'NotoSansJP-M';
  color: #888888;
}

/* line 183, style.scss */
#compBox #worksBox #web img {
  width: 440px;
  height: 262px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #cccccc;
}

/* Android */
/* line 192, style.scss */
#compBox #worksBox #android img {
  overflow: hidden;
}

/* line 195, style.scss */
#compBox #worksBox #android .thImg {
  width: 72px;
  height: 72px;
  border: none;
  position: absolute;
  top: 80px;
  left: 44px;
}

/* line 203, style.scss */
#compBox #worksBox #android ul {
  position: absolute;
  top: 84px;
  left: 140px;
}

/* line 208, style.scss */
#compBox #worksBox #android li {
  font-size: 18px;
  font-family: 'NotoSansJP-M';
  color: #888888;
}

/* line 213, style.scss */
#compBox #worksBox #android a {
  font-size: 14px;
  font-family: 'NotoSansJP-M';
  color: #888888;
  margin: 0 0 0 10px;
}

/* line 222, style.scss */
#compBox #worksBox #android .appImg01-1,
#compBox #worksBox #android .appImg01-2,
#compBox #worksBox #android .appImg02-1,
#compBox #worksBox #android .appImg02-2 {
  width: 162px;
  height: 270px;
  border: 1px solid #cccccc;
}

/* line 228, style.scss */
#compBox #worksBox #android .appImg01-1,
#compBox #worksBox #android .appImg01-2 {
  position: absolute;
  top: 169px;
  left: 44px;
}

/* line 234, style.scss */
#compBox #worksBox #android .appImg02-1,
#compBox #worksBox #android .appImg02-2 {
  position: absolute;
  top: 170px;
  left: 234px;
}

/* other */
/* line 240, style.scss */
#compBox #otherBox {
  width: 924px;
  height: 120px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 3px #bbbbbb;
  margin: 0 12px 0 48px;
  padding: 0 0 0 22px;
  position: absolute;
  top: 720px;
  left: 0px;
}

/* line 252, style.scss */
#compBox #otherBox li a {
  letter-spacing: 0.03em;
  font-family: 'NotoSansJP-M';
  color: #888888;
}

/* line 257, style.scss */
.mb7 {
  margin: 0 0 7px 0;
}
