@charset "UTF-8";
/* Author: DWP shoheiworks Version: 1.0 : Portfolio */

/*--------------------------------------------------
Top Comment
-------------------------------------------------- */

/* Second Comment
--------------------------------------------------

/* Comment */

/*--------------------------------------------------
Reset
-------------------------------------------------- */
@import '_default.scss';

/*--------------------------------------------------
Font
-------------------------------------------------- */
@import '_font.scss';


#baseBox {
	width: 1024px;
	height: 780px;
	margin: 0 auto;
	padding: 240px 0 0 0;
	background-color: #fcfaf9;
	position: relative;
	box-sizing: border-box;
	/*z-index: 1;*/
}
/*--------------------------------------------------
Style
-------------------------------------------------- */
body {
	font-family: 'NotoSansJP-M', serif;
}

/*--------------------------------------------------
Comp
-------------------------------------------------- */
#compBox #nameBox {
	position: absolute;
	top: 26px;
	right: 80px;
	color: #666666;
	letter-spacing: 0.01em;
	font-family: 'NotoSansJP-M';
	font-size: 14px;
}
#compBox #nameBox p {
	margin: 0 0 4px 0;
}
#compBox #nameBox span {
	font-size: 10px;
	margin: -19px 0 0 100px;
	display: block;
}
#compBox aside {
	width: 270px;
	height: 76px;
	background-color: #FFFFFF;
	margin: 0;
	padding: 12px 0 12px 18px;
	position: absolute;
	top: 100px;
	left: 700px;
	color: #666666;
	font-size: 18px;
	font-family: 'NotoSansJP-M';
	letter-spacing: 0.02em;
	line-height: 1.3em;
	box-shadow: 2px 2px 3px #bbbbbb;
	box-sizing: border-box;
}
#compBox #worksBox {
	width: 1024px;
	height: 440px;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 22px;
	position: absolute;
	top: 234px;
	left: 0px;
}
#compBox #worksBox h1, #compBox #otherBox h1 {
	font-size: 36px;
	color: #666666;
	font-family: 'NotoSansJP-M';
	margin: 0;
}
#compBox #worksBox h3 {
	font-size:30px;
	color: #7b7b79;
	font-family: 'Myriad Pro';
}
#compBox #worksBox #web, #compBox #worksBox #android {
	width: 440px;
	height: 440px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 3px #bbbbbb;
	margin:0 12px 0 28px;
	float: left;
	position: relative;
}
#compBox #worksBox #web h1, #compBox #worksBox #android h1{
	padding: 0;
	margin: 12px 0 0 12px;
	letter-spacing: 0;
}
/* web */
#compBox #worksBox #web ul {
	margin: 16px 0 0 24px;;
	padding: 0;
}
#compBox #worksBox #web li a {
	letter-spacing: 0.03em;
	font-family: 'NotoSansJP-M';
	color: #888888;
}
#compBox #worksBox #web img {
	width: 440px;
	height: 262px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #cccccc;
}
/* Android */
#compBox #worksBox #android img {
	overflow: hidden;
}
#compBox #worksBox #android .thImg {
	width: 72px;
	height: 72px;
	border: none;
	position: absolute;
	top: 80px;
	left: 44px;
}
#compBox #worksBox #android ul {
	position: absolute;
	top: 84px;
	left: 140px;
}
#compBox #worksBox #android li {
	font-size: 18px;
	font-family: 'NotoSansJP-M';
	color: #888888;
}
#compBox #worksBox #android a {
	font-size: 14px;
	font-family: 'NotoSansJP-M';
		color: #888888;
		margin: 0 0 0 10px; 
}
#compBox #worksBox #android .appImg01-1,
#compBox #worksBox #android .appImg01-2,
#compBox #worksBox #android .appImg02-1,
#compBox #worksBox #android .appImg02-2 {
	width: 162px;
	height: 270px;
}
#compBox #worksBox #android .appImg01-1 ,
#compBox #worksBox #android .appImg01-2 {
	position: absolute;
	top: 170px;
	left: 44px; 
}
#compBox #worksBox #android .appImg02-1,
#compBox #worksBox #android .appImg02-2 {
	position: absolute;
	top: 170px;
	left: 234px; 
}
/* other */
#compBox #otherBox {
	width: 974px;
	height: 120px;
	box-sizing: border-box;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 3px #bbbbbb;
	margin:0 12px 0 28px;
	padding: 0 0 0 22px;
	position: absolute;
	top: 720px;
	left: 0px;
}
.mb7 {
	margin: 0 0 7px 0;
}